* {
  margin: 0;
  padding: 0;
  font-family: 'MyCustomFont';
}

@font-face {
  font-family: 'MyCustomFont';
  src: url('/public/static/Inter-Light.ttf') format('truetype');
}


.body {
  background-color: #81A4FE;
  background-image: url('../public/assets/Waves.png'), url('../public/assets/3D Elements.png');
  background-repeat: no-repeat, no-repeat;
  background-position: left bottom, top center;
  height: 100vh;
  display: flex;
  flex-direction: row;
}

.sideBar {
  width: 20%;
  display: flex;
  align-items: center;
}

.sideBarsection1 {
  background-color: #BE6FFB;
  border-radius: 0px 10px 10px 0px;
  width: 50px;
  height: 80%;
  display: flex;
  align-items: center;
}

.content {
  width: 80%;
  padding: 30px;
}

.contentSections {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

Link {
  text-decoration: none;
  text-decoration-style: none;
}

.notification {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 40px;
  border: 1px solid black;
  background-color: transparent;
}

.profileButton {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-right: 10px;
  text-decoration: none;
  text-decoration-style: none;
  border-radius: 20px;
  border: 1px solid black;
  background-color: transparent;
}

.contentSection1 {
  height: 40px;
  padding: 10px;
  display: flex;
  justify-content: end;
  grid-gap: 10px;
  border-bottom: 1px solid rgb(226, 226, 226);
}

.contentSection2 {
  background-color: white;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 110px;
}

.contentSection2Writings {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 350px;
}

.manImage {
  width: 150px;
  height: 100px;
  margin-right: 40px;
  margin-top: 10px;
}

.contentSection3 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.contentSection3sub {
  background-color: rgba(255, 255, 255, 0.622);
  width: 210px;
  height: 310px;
  border-radius: 5px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.contentSection3subWritings {
  display: flex;
  flex-direction: column;
  grid-gap: 10px;
  height: 350px;
}

.sideBarIcons {
  position: absolute;
  color: #000;
  padding: 10px;
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  grid-gap: 10px;
  align-items: center;
}

.logo {
  width: 33px;
  background-color: #5A328E;
  border-radius: 10px;
  padding: 10px;
}

.sideBarIcons2 {
  color: #000;
  background-color: #5A328E;
  border-radius: 10px;
  padding: 10px;
}

.sideBarIcon {
  color: #000;
  background-color: #FFFFFF;
  border-radius: 10px;
  padding: 10px;
}

.blaclButton {
  background-color: #000;
  color: white;
  padding: 7px 10px;
  border: none;
  border-radius: 20px;
  width: fit-content;
  display: flex;
  grid-gap: 7px;
  justify-content: center;
  align-items: center;
}

.whiteButtom {
  border: none;
  background-color: white;
  width: fit-content;
  padding: 7px;
  border-radius: 5px;
}

.signUp {
  background-image: url(/public/3D\ logo.png);
  background-repeat: no-repeat;
  background-position:  right bottom;
  background-color: #000;
  height: 100vh;
  display: flex;
  flex-direction: column;
  grid-gap: 10px;
  align-items: center;
  padding: 60px;
}

.signUpH2 {
  color: white;
  width: 230px;
  text-align: center;
}

.signUpForm {
  display: flex;
  flex-direction: column;
  grid-gap: 10px;
  width: 250px;
  border-bottom: 1px solid rgb(212, 212, 212);
  padding: 20px;
}

label {
  color: white;
  display: flex;
  flex-direction: column;
  grid-gap: 5px;
}

input {
  padding: 10px;
  background-color: rgba(128, 128, 128, 0.145);
  border-radius: 5px;
  color: white;
  outline: none;
}

input::placeholder {
  color: rgb(204, 204, 204);
}

input::-ms-value {
  color: white;
}

.signUpLogo {
  width: 72px;
}

.signUpSubmitButton {
  padding: 10px;
}

.error {
  color: red;
}

.loginWrittingSection {
  display: flex;
  grid-gap: 10px;
}

.loginWritting {
  color: white;
}

.loginp {
  color: white;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 4;
}

.popup {
  position: relative;
  width: 100%;
  max-width: 270px;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  text-align: center;
}
